/* VARIABLES */

/* Colors */
$whiteTxt: rgba(206, 212, 218, 1);
$alertPanel: rgba(222, 226, 230, 0.5);
$panels: rgba(222, 226, 230, 0.25);
$yellow: rgba(246, 170, 28, 1);
$red: rgba(123, 13, 30, 1);
$purple: rgba(58, 1, 92, 1);
$blue: rgba(3, 4, 94, 1);

/* Font Sizes */
$title-xl: 9.6em;
$title-l: 3.8em;
$title-m: 3.2em;
$txt-xl: 2.6em;
$txt-l: 2.4em;
$txt-m: 2em;
$txt-s: 1.8em;
$txt-xs: 1.6em;
$caption: 1.4em;

/* Spacings */
$spacing-xxl: 12.8rem;
$spacing-xl: 6.4rem;
$spacing-l: 3.2rem;
$space-m: 1.6rem;
$space-s: 0.8rem;

